<section >
    <mat-toolbar id="toolBar">
     <span id="imgContainer"></span>
     <span id="separator"></span>
     <span><a href="" mat-button>INICIO</a></span>
     <span><a href="" mat-button>RECOMENDADOS</a></span>
     <span><a href="" mat-button>NOTICIAS</a></span>
     <span><a href="" mat-button>SERVICIOS</a></span>
     <span><a href="" mat-button>DESTINOS</a></span>
     <span><a href="" mat-button>NOSOTROS</a></span>
     <span><a href="" mat-button>CONTACTOS</a></span>
     <button mat-button >
         <mat-icon>
             <span class="material-symbols-outlined">
                 language
                 </span>
         </mat-icon>
    </button>
      <button mat-button >
         <mat-icon>
             <span class="material-symbols-outlined">
                 question_mark
                 </span>
         </mat-icon>
     </button>
     <button mat-fab extended   id="user">
         <span>INICIAR SESION </span>
         <mat-icon>
             <span class="material-symbols-outlined">
                 account_circle
                 </span>
         </mat-icon>
     </button>
 
    
    </mat-toolbar> 
 
    <div style="height: 50px;"></div>
   
    <div id ='container1'>
       <app-tab></app-tab>
    </div>
</section>



 
