<section >
    <div id="container2">
        <h2 id="intro3">RECOMENDADOS</h2>
        
        <p style="font-size: smaller;">
            Conozca las ofertas recomendadas por MARLIN Náuticas y Marinas
        </p>
        <br>
       <div id="cardContainer1">
        <button mat-fab style="color: white; background-color: #2196F3; box-shadow: none;">
           <mat-icon>
            <span class="material-symbols-outlined">
                chevron_left
                </span>
           </mat-icon>
        </button>
        <mat-card id="card1">
           <mat-card id="insideCard">
            <mat-card-header>
                <mat-card-title> Pesca Deportiva</mat-card-title>
            </mat-card-header>
                <mat-card-content>
                    <div style="display: flex; flex-direction: column;">
                         <span id=cardLabel >Experiencia</span>
                        <span style="font-size: x-small;">Varadero (Matanzas)</span>
                    </div> 
                </mat-card-content>
                <mat-card-footer style="display: flex; justify-content: space-between; align-items: center; padding: 5px;">
                    <span style="color: #2196F3;font-size: x-small;"> 
                        Desde $20 por persona
                    </span>
                    <button mat-mini-fab style="color: white;background-color: #BBDEFB;box-shadow: none;"><mat-icon>
                        <span class="material-symbols-outlined">
                            arrow_forward
                            </span>
                    </mat-icon></button>
                </mat-card-footer>
           </mat-card>
         </mat-card>
         <mat-card id="card2">
            <mat-card id="insideCard">
                <mat-card-header>
                    <mat-card-title> Buceo  Copacabana</mat-card-title>
                </mat-card-header>
                    <mat-card-content>
                        <div style="display: flex; flex-direction: column;">
                             <span id=cardLabel >Experiencia</span>
                            <span style="font-size: x-small;">Varadero (Matanzas)</span>
                        </div> 
                    </mat-card-content>
                    <mat-card-footer style="display: flex; justify-content: space-between; align-items: center; padding: 5px;">
                        <span style="color: #2196F3;font-size: x-small;"> 
                            Desde $20 por persona
                        </span>
                        <button mat-mini-fab style="color: white;background-color: #BBDEFB;box-shadow: none;"><mat-icon>
                            <span class="material-symbols-outlined">
                                arrow_forward
                                </span>
                        </mat-icon></button>
                    </mat-card-footer>
               </mat-card>
          </mat-card>
          <mat-card id="card3">
            <mat-card id="insideCard">
                <mat-card-header>
                    <mat-card-title> Kitesurf Competitivo</mat-card-title>
                </mat-card-header>
                    <mat-card-content>
                        <div style="display: flex; flex-direction: column;">
                             <span id=cardLabel >Experiencia</span>
                            <span style="font-size: x-small;">Varadero (Matanzas)</span>
                        </div> 
                    </mat-card-content>
                    <mat-card-footer style="display: flex; justify-content: space-between; align-items: center; padding: 5px;">
                        <span style="color: #2196F3;font-size: x-small;"> 
                            Desde $20 por persona
                        </span>
                        <button mat-mini-fab style="color: white;background-color: #BBDEFB;box-shadow: none;"><mat-icon>
                            <span class="material-symbols-outlined">
                                arrow_forward
                                </span>
                        </mat-icon></button>
                    </mat-card-footer>
               </mat-card>
          </mat-card>
          <button mat-fab style="color: white; background-color: #2196F3; box-shadow: none;">
              <mat-icon>
                <span class="material-symbols-outlined">
                    chevron_right
                    </span>
              </mat-icon>
          </button>
       </div>
           
         
         
        
    </div>

</section>
