#fondo1 { 
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/fondo1.jpg);
    width: inherit;
    height: 600px;
    background-size: cover;
    align-content: center;
}
#fondo2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: inherit;
    height: 600px;
    background-size: cover;
    align-content: center;
}

#fondo3 {
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/Cuadriﾌ…ula\ de\ repeticioﾌ］\ 2.svg);
    width: inherit;
    height: 600px;
    background-size: cover;
    align-content: center;
}