<section >
    <div id="container3">
        <h2 id="intro4"><span>ÚLTIMAS NOTICIAS</span>
        </h2>
        
        <p style="font-size: smaller;">
            Conozca las ofertas recomendadas por MARLIN Náuticas y Marinas
        </p>
        <br>
       <div id="cardContainer2">
        <button mat-fab style="color: white; background-color: #2196F3; box-shadow: none;">
           <mat-icon>
            <span class="material-symbols-outlined">
                chevron_left
                </span>
           </mat-icon>
        </button>
        <mat-card id="card4">
           <mat-card id="insideCard2">
            <mat-card-header>
                <mat-card-subtitle style="color: white; font-size: x-small;">13.03.17</mat-card-subtitle>
            </mat-card-header>
                <mat-card-content style="margin-top: 10px;">
                    <div >
                         <span style="color: white; font-size: x-large;">Noticias</span>
                    </div> 
                </mat-card-content>
                <mat-card-actions align = "end">
                 <button mat-fab extended id="hideButon">
                    <mat-icon>
                        <span class="material-symbols-outlined">
                            chevron_right
                            </span>
                    </mat-icon>
                    LEER MÁS
                 </button>
                </mat-card-actions>
           </mat-card>
         </mat-card>
         <mat-card id="card5">
            <mat-card id="insideCard2">
                <mat-card-header>
                    <mat-card-subtitle style="color: white; font-size: x-small;">13.03.17</mat-card-subtitle>
                </mat-card-header>
                    <mat-card-content style="margin-top: 10px;">
                        <div >
                             <span style="color: white; font-size: x-large;">Noticias</span>
                        </div> 
                    </mat-card-content>
                    <mat-card-actions align = "end">
                     <button mat-fab extended id="hideButon">
                        <mat-icon>
                            <span class="material-symbols-outlined">
                                chevron_right
                                </span>
                        </mat-icon>
                        LEER MÁS
                     </button>
                    </mat-card-actions>
               </mat-card>
          </mat-card>
          <mat-card id="card6">
            <mat-card id="insideCard2">
                <mat-card-header>
                    <mat-card-subtitle style="color: white; font-size: x-small;">13.03.17</mat-card-subtitle>
                </mat-card-header>
                    <mat-card-content style="margin-top: 10px;">
                        <div >
                             <span style="color: white; font-size: x-large;">Noticias</span>
                        </div> 
                    </mat-card-content>
                    <mat-card-actions align = "end">
                     <button mat-fab extended id="hideButon">
                        <mat-icon>
                            <span class="material-symbols-outlined">
                                chevron_right
                                </span>
                        </mat-icon>
                        LEER MÁS
                     </button>
                    </mat-card-actions>
               </mat-card>
          </mat-card>
          <button mat-fab style="color: white; background-color: #2196F3; box-shadow: none;">
              <mat-icon>
                <span class="material-symbols-outlined">
                    chevron_right
                    </span>
              </mat-icon>
          </button>
       </div>
           
       <div style="display: flex; flex-direction: row-reverse; align-items: center;">
        <button mat-button style="background-color: #2196F3;color: white; box-shadow: none; border-radius: 20px;">
          VER TODAS LAS NOTICIAS
        </button>
    </div>
         
        
    </div>
   

</section>

